behave-django==1.3.0
behave==1.2.6
django-debug-toolbar==1.11
django==2.1.8
djangorestframework==3.9.3
gunicorn==19.9.0
parse-type==0.4.2
parse==1.12.0
psycopg2-binary==2.8.2
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
coverage==4.5.3
